

@{
    ViewBag.Title = "CreateChiNhanh";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@model ChuoiCuaHangTraSua.Models.Model.ChiNhanhModel
<div class="row">
    <div class="col-xl-1 col-md-1"></div>
    <div class="col-xl-10 col-md-10">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="create-product">
                    <div class="cp-title">
                        <span>THÊM CHI NHÁNH MỚI</span>


                    </div>
                </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.TenChiNhanh, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TenChiNhanh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenChiNhanh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" }, @rows = "3", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group mcp-bottom">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <input type="submit" value="Thêm mới" class="btn btn-primary col-md-2" />
                        <div class="col-md-5"></div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-xl-1 col-md-1"></div>
</div>


